/* vars */
:root {
    color-scheme: light dark;

    /* common */
    --link-primary-color: #129bd8;
    --pulse-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    /* dark theme */
    --bg-primary-color: #010c12;
    --bg-secondary-color: #212e42;

    --text-primary-color: #ffffff;
    --text-secondary-color: #bdcbe0;

    --button-primary-color: black;

    --error-primary-color: #ea4f15;

    --border-primary-color: #6f6f6f;
}

:root.light {
    /* light theme */
    --bg-primary-color: white;
    --bg-secondary-color: #e2eeff;

    --text-primary-color: #5c7b9f;
    --text-secondary-color: #08080a;

    --button-primary-color: white;

    --error-primary-color: #991b1b;

    --border-primary-color: #375271c2;
}

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

html {
    font-size: 18px;
    font-family: Helvetica, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    background-image: linear-gradient(to right, var(--bg-secondary-color) 15%, var(--bg-primary-color) 85%);
}

@media(max-width: 1024px) {
    html {
        background-image: linear-gradient(to right, var(--bg-secondary-color), var(--bg-primary-color));
    }
}

body {
    min-height: 100vh;
    color: var(--text-secondary-color);
}

/* header section footer */

header,
section,
footer {
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

@media (max-width: 1024px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
    }
}

h1 {
    padding: 1rem;
    margin: 0 1rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--bg-primary-color);
    background-color: var(--text-secondary-color);
}

h2 {
    font-size: 1.6rem;
    color: var(--text-secondary-color);
    text-transform: uppercase;
}

h3 {
    font-size: 1.5rem;
    color: var(--text-primary-color);
}

h4 {
    font-size: 1.4rem;
    color: var(--text-secondary-color);
}

h5 {
    font-size: 1.3rem;
    color: var(--text-primary-color);
}

h5 {
    font-size: 1.2rem;
    color: var(--text-primary-color);
}

p {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 1rem 0rem;
}

pre {
    margin: 1rem 0;
}

code {
    color: var(--text-primary-color);
}

pre code {
    font-size: 1rem;
}

@media (max-width: 1024px) {
    h1 {
        margin: 0;
    }

    pre code {
        font-size: 0.8rem;
    }
}

a {
    display: inline-block;
    padding: 0.5rem 0rem;
    color: var(--link-primary-color);
}

ul {
    list-style-type: disc;
    list-style-position: inside;
    padding: 0.5rem 0;
}

ol {
    list-style-position: inside;
    padding: 0.5rem 0;
}

li {
    padding: 0.3rem 0;
}

li a {
    padding: 0;
}

img,
svg {
    display: block;
    margin: auto;
}

.image img {
    max-width: 10rem;
}

section button {
    padding: 0.5rem;
    background-color: var(--bg-primary-color);
    border-radius: 0.25rem;
    border-width: 2px;
    border-color: var(--text-primary-color);
}

section img {
    text-align: center;
}

.container {
    width: 100%;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

/* Form */

form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    text-align: center;
}

@media (max-width: 1024px) {
    form {
        display: block;
    }
}

form fieldset {
    width: 100%;
    border: none;
    margin: 0.3rem 0;
}

form legend {
    font-size: 1.3rem;
    color: var(--text-primary-color);
}

form input,
textarea,
select {
    min-width: 30%;
    margin: 1rem 0.5rem;
    color: var(--text-secondary-color);
    background-color: var(--bg-secondary-color);
    padding: 0.3rem;
}

form textarea {
    margin: 1rem 0rem;
    width: 100%;
    min-height: 50rem;
}

input[type=button] {
    padding: 0.5rem;
    color: var(--link-primary-color);
    text-transform: uppercase;
}

/* Animation */

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}

/* Assets */

.user-pic {
    width: 2rem;
}

@media (min-width: 1024px) {
    .user-pic {
        width: 4rem;
    }
}

.header-logo,
.post-header-icon {
    width: 32px;
    height: 32px;
}

.post-icon {
    width: 22px;
    height: 22px;
}

.burger {
    fill: var(--text-primary-color);
    width: 32px;
    height: 32px;
}

svg {
    fill: var(--link-primary-color);
    width: 250px;
}

svg:hover {
    fill: var(--text-secondary-color);
}

/* Header */

header {
    top: 0;
    z-index: 1;
    margin: auto;
    text-align: center;
}

header.full-screen {
    height: 100vh;
}

header .top {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1024px) {
    header .top {
        padding: 0.5rem;
    }
}

header .hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}

header img:hover,
svg:hover,
a:hover {
    animation: var(--pulse-animation);
}

nav {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--text-primary-color);
}

nav p {
    margin: 1.5rem;
    display: none;
}

nav a {
    margin: 1.5rem;
    text-decoration: none;
    color: var(--text-secondary-color);
}

nav a:hover {
    color: var(--link-primary-color);
}

nav a:hover svg {
    fill: var(--link-primary-color);
}

header .nav-btn {
    display: block;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

header .nav-btn svg {
    width: 4rem;
}

header .name {
    width: 100%;
}

header .name h2 {
    padding: 0;
    text-transform: capitalize;
}

header .name h3 {
    font-size: 1.2rem;
    padding: 0.7rem;
    text-transform: capitalize;
    border-bottom: groove;
    border-bottom-width: thin;
    border-color: var(--border-primary-color);
}

.error h1 {
    color: var(--error-primary-color);
}

.post.error p {
    padding: 1rem;
}

.post.error a {
    text-decoration: underline;
}

/* Header: navbar */

header svg {
    fill: var(--border-primary-color);
}

header svg:hover {
    fill: var(--link-primary-color);
}

/* BROWSER */

#browser-nav .menu {
    padding: 12rem;
}

#browser-nav .menu a {
    padding: 0rem;
    margin: 0rem;
}

#browser-nav .menu-top div .txt,
#browser-nav .menu-center div .txt,
#browser-nav .menu-bottom div .txt {
    text-transform: uppercase;
}

#browser-nav .menu-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#browser-nav .menu-center>* {
    flex-basis: 100%;
    min-width: 0%;
}

#browser-nav .menu-center .menu-left {
    justify-content: flex-end;
}

#browser-nav .menu-center svg {
    margin: 0;
}

#browser-nav .menu-center .menu-mid {
    align-self: center;
    max-width: fit-content;
}

#browser-nav .menu-center .menu-mid a {
    cursor: pointer;
}

#browser-nav .menu-center .menu-left,
#browser-nav .menu-center .menu-mid,
#browser-nav .menu-center .menu-right {
    display: flex;
    align-items: center;
}

#browser-nav .menu-center .menu-mid svg {
    width: 6rem;
    transition: transform 5s;
}

#browser-nav .menu-center .menu-mid:hover svg {
    transform: rotate(180deg);
}

#browser-nav .menu-center .menu-right svg {
    min-width: 11rem;
    max-width: 11rem;
    transform: translateX(-6%);
    transition: transform 1s;
}

#browser-nav .menu-center .menu-right:hover svg {
    transform: translateX(-1%);
}

#browser-nav .menu-center .menu-right .txt {
    font-size: 2rem;
    padding-left: 2rem;
}

#browser-nav .menu-center .menu-left svg {
    min-width: 11rem;
    max-width: 11rem;
    transform: rotate(180deg) translateX(-6%);
    transition: transform 1s;
}

#browser-nav .menu-center .menu-left:hover svg {
    transform: rotate(180deg) translateX(-1%);
}

#browser-nav .menu-center .menu-left .txt {
    font-size: 2rem;
    padding-right: 2rem;
}

#browser-nav .menu-top div svg {
    min-width: 11rem;
    max-width: 11rem;
    transform: rotate(270deg) translateX(30%);
    transition: transform 1s;
}

#browser-nav .menu-top div:hover svg {
    transform: rotate(270deg) translateX(35%);
}

#browser-nav .menu-top div .txt {
    font-size: 2rem;
    transform: translateY(-600%);
}

#browser-nav .menu-bottom div svg {
    min-width: 11rem;
    max-width: 11rem;
    transform: rotate(90deg) translateX(30%);
    transition: transform 1s;
}

#browser-nav .menu-bottom div:hover svg {
    transform: rotate(90deg) translateX(35%);
}

#browser-nav .menu-bottom div .txt {
    font-size: 2rem;
    transform: translateY(600%);
}

@media (max-width: 1024px) {

    #browser-nav,
    header .browser-only {
        display: none;
    }
}

/* MOBILE */

@media (min-width: 1024px) {

    #mobile-nav,
    header .mobile-only {
        display: none;
    }
}

#mobile-nav .menu {
    padding: 0;
}

#mobile-nav .menu a {
    display: block;
}

#mobile-nav .menu svg {
    max-width: 5rem;
    animation: var(--pulse-animation);
}

#mobile-nav .menu-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#mobile-nav .menu-right>* {
    flex-basis: 50%;
}

#mobile-nav .menu-right svg {
    margin-right: 1rem;
}

#mobile-nav .menu-right:hover svg {
    transform: translateX(-1%);
}

#mobile-nav .menu-right .txt {
    margin-left: 1rem;
    padding-bottom: 0.4rem;
    font-size: 2rem;
    text-align: left;
}

/* Footer */

footer {
    padding: 1.5rem;
    text-align: center;
}

footer .contact-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .contact-icons img {
    margin: 2rem;
    width: 5rem;
}

/* Tags */

.tags {
    display: flex;
    padding: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    font-size: 0.8rem;
    padding: 0.3rem;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    border-style: groove;
    border-width: 1px;
    border-color: var(--border-primary-color);
}

/* Vignettes */

.vignettes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.vignette-container {
    flex-basis: 40%;
    margin: 1rem;
    padding: 1rem;
    flex-grow: 1;
    text-align: justify;
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-primary-color);
    transition: 0.3s;
}

@media (max-width: 1024px) {

    .vignette-container {
        flex-basis: 100%;
        margin: 0;
        padding: 1rem;
        text-align: justify;
        border-style: solid none;
        transition: 0.3s;
    }
}

.post {
    text-align: justify;
}

.vignette-container:hover {
    background-color: var(--bg-secondary-color);
}

@media (max-width: 1024px) {

    .vignette,
    .post {
        flex-basis: 100%;
        margin: 0;
        text-align: left;
        background: none;
        border: none;
    }
}

.vignette .image {
    padding: 1rem;
}

.vignette a,
.post a {
    padding: 0;
    display: inline-block;
}

.vignette h5 {
    padding: 0;
}

.vignette h2,
.vignette h5 {
    text-align: center;
}

/* Posts */

.post-body img {
    width: 100%;
}

.post-body .links {
    padding: 0
}

.post-body .resources {
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    justify-content: space-around;
}

.post-body .resources .links {
    padding: 0.5rem;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: var(--border-primary-color);
}

.post-body .resources h3 {
    padding-top: 0;
}

.post-body .contribute {
    border-style: solid none;
    border-width: 1px;
    border-color: var(--border-primary-color);
    background-color: var(--bg-primary-color);
}

.post-body .contribute>* {
    font-style: italic;
}

@media (max-width: 1024px) {
    .post-body .resources {
        display: block;
        padding: 1rem 0;
        border-style: solid none;
        border-width: 1px;
        border-color: var(--border-primary-color);
    }

    .post-body .resources .links {
        border: none;
    }

    .post-body .resources h3 {
        text-align: left;
    }

}

.links .link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.links img {
    margin-right: 0.5rem;
    width: 2rem;
}

.links a {
    padding: 0;
    display: block;
    text-align: left;
}

/* Simple links */

.simple-links a {
    display: block;
    padding: 0;
    text-decoration: none;
}

.simple-link {
    display: flex;
    margin: 0 1rem;
    align-items: center;
    justify-content: flex-start;
    border-style: solid none;
    border-width: 1px;
    border-color: var(--border-primary-color);
    transition: 0.3s;
}

.simple-link:hover {
    background-color: var(--bg-secondary-color);
}

.simple-link h2 {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
}

.simple-link .image {
    flex-basis: 10%;
    margin: 1rem;
}

.simple-link .text {
    flex-grow: 1;
}

.simple-link .image img {
    max-width: 4rem;
}

.simple-link .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.simple-link .info>* {
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
}

@media (max-width: 1024px) {

    .simple-link {
        display: block;
        padding: 1rem;
        margin: 0;
    }

    .simple-link .image,
    .simple-link .tags {
        display: none;
    }

    .simple-link .info {
        display: block;
    }
}

/* Page - all pages */

section .post .post-body {
    display: block;
}

section .post-body>div {
    padding: 1.5rem;
}

@media (max-width: 1024px) {
    section .post-body>div {
        padding: 0.5rem;
    }
}

section .post-body {
    width: 70%;
    margin: auto;
}

section .post-body .info {
    text-align: center;
}

@media (max-width: 1024px) {
    section .post .post-body {
        padding: 0.5rem;
        display: block;
        width: 100%;
    }
}

.post-body:hover img {
    animation: var(--pulse-animation);
}

section button {
    margin: 0.5rem;
}

/* About Me page */

section .socials {
    text-align: center;
    display: block;
}

@media (min-width: 1024px) {
    section .social-icons {
        display: flex;
        justify-content: space-evenly;
    }

    section .social-icons>div {
        width: 30%;
    }
}

section .socials img {
    margin: 1rem;
    width: 3rem;
}

/* Page: about */

section#about i,
section#about em {
    color: var(--text-primary-color)
}

section#about h2 {
    border-bottom-style: groove;
    border-bottom-width: 1px;
    border-bottom-color: var(--border-primary-color);
}

section#about a {
    text-decoration: underline;
}

section#about li {
    padding: 1rem;
}

/* blog article specifics */

@media (min-width: 1024px) {

    img[alt="Trunked Based Dev"] {
        width: 50%;
    }

    img[alt="Feature Branching"] {
        width: 50%;
    }

    img[alt="UCB1 formula"] {
        width: 50%;
    }

    img[alt="UCB1 formula parts"] {
        width: 50%;
    }

    img[alt="UCB1 applied to BT"] {
        width: 50%;
    }
}
